*{
	margin:0px;
	padding:0px;
	border:none;
	font-size:14px;
	list-style: none;
	color:#999;
}
.header{
	width:100%;
	height:88px;
}
.logo{
	width:89px;
	height:33px;
	margin-left:20%;
	margin-top:24px;
}
.content{
	width:22%;
	height:400px;
	margin-left:39%;
	margin-top:7%;
}
.yonghuming{
	width:100%;
	height:38px;
	margin-bottom:20px;
}
.name{
	width:18%;
	height:38px;
	text-align: right;
	line-height: 38px;
	float:left;
}
.yonghuming input{
	width:80%;
	height:36px;
	margin-left:1%;
	float:left;
	line-height: 36px;
	border:1px solid #ccc;
}
.yanzhnewgma{
	width:100%;
	height:38px;
	margin-bottom:29px;
}
.yanzhnewgma input{
	width:50%;
	height:36px;
	margin-left:1%;
	float:left;
	line-height: 38px;
	border:1px solid #ccc;
}
.yanzhnewgma button{
	width:29%;
	height:36px;
	background:#fff;
	color:#157BFB;
	float:left;
	margin-left:1%;
	line-height: 36px;
	text-align: center;
	border:1px solid #157BFB;
	cursor: pointer;
}
.remember{
	width:56%;
	height:15px;
	margin-left:25%;
	font-size: 12px; 
}
.xieyi{
	color:#157BFB;
}
.but{
	width:82%;
	height:38px;
	margin-left:18%;
	margin-top:37px;
	background:#157BFB;
	color:#fff;
	line-height: 38px;
	text-align: center;
}













