*{
	margin:0px;
	padding:0px;
	border:none;
	font-size:14px;
	list-style: none;
}
.header{
	width:100%;
	height:88px;
}
.content{
	width:1200px;
	height:auto;
	position:relative;
	margin:0 auto;
	overflow: hidden;
	
}
.logo{
	width:89px;
	height:33px;
	/*margin-left:20%;*/
	margin-top:24px;
}
.buzhou{
	width:80%;
	height:100px;
	margin-left:10%;
	margin-top:6%;
}
.el-step__icon{
	width:64px;
	height:64px;
	margin-bottom:20px;
	/*border:none !important;*/
/*	background:#48AEF8;*/
}
/*.el-step__head .is-process{
	background:#E6E6E6 !important;
	color:#666666 !important;
}*/
.el-step__icon-inner{
	font-size: 32px;
	color:#666;
}
.el-step.is-horizontal .el-step__line {
    height: 2px;
    top: 31px;
    left: 0;
    right: 0;
}
.el-step__title.is-process{
	font-size: 16px;
	color:#999;
	font-weight: bold;
}
.el-step__title .is-wait{
	margin-left:10px !important;
}
.benren{
	width:20%;
	height:15px;
	color:#999;
	margin-left:40.5%;
	margin-top:60px;
}
.yonghuming{
	width:30%;
	height:38px;
	margin-left:35%;
	margin-top:16px;
	margin-bottom:20px;
}
.name{
	width:18%;
	height:38px;
	text-align: right;
	line-height: 38px;
	float:left;
	color:#333;
}
.yonghuming input{
	width:75%;
	height:36px;
	margin-left:1%;
	float:left;
	line-height: 36px;
	color:#999;
	padding-left:5%;
	border:1px solid #ccc;
}
.yanzhnewgma{
	width:30%;
	height:38px;
	margin-left:35%;
	margin-bottom:29px;
}
.yanzhnewgma input{
	width:50%;
	height:36px;
	margin-left:1%;
	float:left;
	line-height: 38px;
	border:1px solid #ccc;
}
.yanzhnewgma button{
	width:29%;
	height:36px;
	background:#fff;
	color:#157BFB;
	float:left;
	margin-left:1%;
	line-height: 36px;
	text-align: center;
	border:1px solid #157BFB;
	cursor: pointer;
}
.next{
	width:120px;
	height:38px;
	margin-left:40.8%;
	background:#157BFB;
	color:#fff;
	line-height: 16px;
	text-align: center;
}
.next1{
	width:120px;
	height:38px;
	margin-left:41.5%;
	background:#157BFB;
	color:#fff;
	line-height: 16px;
	text-align: center;
	margin-top:12px;
}
.shuoming{
	width:800px;
	height:180px;
	margin-left:20%;
	margin-top:71px;
	background:#f2f2f2;
	color:#999;
}
.wen{
	width:80%;
	height:15px;
	margin-left:10%;
	margin-top: 31px;
	float:left;
	margin-bottom:10px;
}
.wen1{
	width:80%;
	height:15px;
	margin-left:10%;
	float:left;
	margin-bottom:10px;
}
.xiugai{
	width:40%;
	height:115px;
	margin-left:35%;
	margin-top:91px;
	margin-bottom:20px;
}
.mimas{
	width:100%;
	height:38px;
}
.names{
	width:15%;
	height:38px;
	text-align: right;
	line-height: 38px;
	float:left;
	color:#333;
}
.mimas input{
	width:53%;
	height:36px;
	margin-left:1%;
	float:left;
	line-height: 36px;
	color:#999;
	padding-left:5%;
	border:1px solid #ccc;
}
.tishi{
	width:100%;
	height:15px;
	color:#999;
	margin-left:15%;
	font-size: 12px;
	margin-top:10px;
}
.qiangdu{
	width:100%;
	height:38px;
}
.truemiam{
	width:100%;
	height:38px;
	margin-top:10px;
}
.truemiam input{
	width:53%;
	height:36px;
	margin-left:1%;
	float:left;
	line-height: 36px;
	color:#999;
	padding-left:5%;
	border:1px solid #ccc;
}
.nexts{
	width:24%;
	height:38px;
	margin-left:15%;
	background:#157BFB;
	color:#fff;
	line-height: 16px;
	margin-top:50px;
	text-align: center;
}
.xiugaiwancheng{
	width:46%;
	height:100px;
	margin-left:25%;
	margin-top:6%;
	background:#D1E4F9;
}
.ok{
	width:28px;
	height:28px;
	float:left;
	margin-left:41%;
	margin-top:3%;
}
.wanchneg{
	width:60px;
	height:14px;
	float:left;
	margin-left:2%;
	margin-top:3.5%;
	color:#333;
}
.fanhui{
	width:100px;
	height:14px;
	margin-left:-9%;
	margin-top:8%;
	color:#999;
	float:left;
}
